@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .side {
    @apply flex   
    items-center 
    py-2  
    rounded-sm
    transition-all
    duration-150
    hover:bg-gray-300
    hover:cursor-pointer
    mt-2
    h-12;
  }
}

.addList {
  @apply flex 
          items-center 
         bg-[#f4f4f4] 
          absolute 
          bottom-1 
          inset-x-0  p-2 
          border-t-2
          border-gray-300
          hover:cursor-pointer
          hover:bg-gray-200;
}
.divider {
  @apply my-2 border-t-2 border-gray-600;
}

.taskItem {
  @apply flex 
  items-center 
  hover:bg-white
     rounded-md 
    bg-[#eeeff3] 
    mt-2
    h-12
    px-4
    hover:cursor-pointer;
}

.arrawContainer{
 @apply inline-flex px-4 py-1 rounded-md justify-between items-center  hover:cursor-pointer
          bg-[#d0d6ee]
          border-2
          border-gray-200
          hover:bg-white
          
}

@layer utilities {
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fade-enter {
  opacity: 0;
  transform: translateX(-50%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;

  transform: translateX(50%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}

.translateY-enter {
  opacity: 0;
  transform: translateY(100px);
}

.translateY-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity transform 500ms ease-in;
}

.translateY-exit {
  opacity: 1;
  transform: translateY(0);
}
.translateY-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity transform 500ms ease-in;
}

.toggleVisable-enter {
  opacity: 0;
  transform: translateY(-100%);
}
.toggleVisable-enter-active {
  opacity: 1;
  transform: translateY(0%);
}
.toggleVisable-exit {
  opacity: 1;
  transform: translateX(0%);
}
.toggleVisable-exit-active {
  opacity: 0;

  transform: translateX(50%);
}
.toggleVisable-enter-active,
.toggleVisable-exit-active {
  transition: opacity 500ms, transform 500ms;
}
